<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASL Translator</title>
        <!-- link to CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="bg">
            <h1 class="head">
                <span class="highlight">Translate</span> your ASL to <span class="peach">English</span>.
            </h1>


            <!-- start/stop recording here -->
            <section id="video_section">
                <h2 class="desc">Click <strong>start camera</strong> to begin.</h2>
                <video id="camera-feed" autoplay playsinline style="display: none";></video>
                <canvas id="snapshot" style="display:none;"></canvas>
                <button class="button-52" id="camera-btn">Start Camera</button>
                <button id="capture-btn" style="display:none;">Capture</button>
                <a href="/history" class="history">View History</a>
            </section>
            <section id="result_section"></section>
        </div>
        

        <!-- link to JS -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
